/*
 * Special characters for the SAIL keycaps
 */

#include <behaviors.dtsi>

/ {
    macros {
		ZMK_MACRO(equiv,
			wait-ms = <0>;
			tap-ms = <0>;
			bindings
				= <&macro_tap     &kp RALT &kp U &kp KP_N2 &kp KP_N2 &kp KP_N6 &kp KP_N1 &kp RET>;
		)
	};
};

/ {
    macros {
		ZMK_MACRO(equiv2,
			wait-ms = <0>;
			tap-ms = <0>;
			bindings
				= <&macro_tap     &kp KP_N2 &kp KP_N2 &kp KP_N6 &kp KP_N1 &kp LALT &kp X>;
		)
	};
};
