if Cosmos1_dongle prospector_adapter

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Cosmos1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if Cosmos1_Left || Cosmos1_Right || Cosmos1_dongle_prospector_adapter

config ZMK_SPLIT
    default y

endif