if cosmos1_dongle

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Cosmos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if cosmos1_Left || cosmos1_Right || cosmos1_dongle

config ZMK_SPLIT
    default y

endif