if cosmos_dongle

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Cosmos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if cosmos_left || cosmos_right || cosmos_dongle
# Other settings

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif

if SHIELD_COSMOS_RIGHT
config SPI
    default y
endif