# No whitespace after the comma or in your part name!
config cosmos_Left
    def_bool $(shields_list_contains,cosmos_left)

# No whitespace after the comma or in your part name!
config cosmos_Right
    def_bool $(shields_list_contains,cosmos_right)