if cosmos_Right

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Cosmos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Other settings

config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y

endif

if cosmos_Left || cosmos_Right

config ZMK_SPLIT
    default y

endif